################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/CommonLibrary/bin/Debug
/CommonLibrary/obj/Debug
/HttpClientHelper/bin/Debug
/HttpClientHelper/packages
/HttpClientHelper/.vs/HttpClientHelper/v16
